<!DOCTYPE html>
<html>
  <head>
    <title>CollabTune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", crossorigin: "anonymous" %>
  </head>

<body data-current-user-id="<%= current_user&.id %>"
        data-current-room-id="<%= @chat_room&.id %>"
        class="min-h-screen flex flex-col text-gray-800 bg-gradient-to-b from-[#C7D3E0] to-[#E5EBF2]">


    <!-- 共通ヘッダー -->
    <%= render "shared/header" %>

    <!-- 通知メッセージ -->
    <% if notice.present? %>
      <p class="bg-green-100 text-green-800 px-4 py-2 text-sm text-center"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="bg-red-100 text-red-800 px-4 py-2 text-sm text-center"><%= alert %></p>
    <% end %>

    <!-- 各ページのメインコンテンツ -->
    <main class="flex-grow container mx-auto px-4 py-6 bg-[#E5EBF2]">
      <%= yield %>
    </main>

    <!-- 共通フッター（後で作成） -->
<% unless controller_name.in?(["chat_rooms", "sessions", "registrations"]) %>
  <%= render "shared/footer" %>
<% end %>
  </body>
</html>