<!DOCTYPE html>
<html>
  <head>
    <title>CollabTune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", crossorigin: "anonymous" %>
    <%= javascript_importmap_tags %>
  </head>

  <body
  data-current-user-id="<%= current_user&.id.to_s %>"
  data-current-room-id="<%= (@chat_room&.id || '').to_s %>"
  class="min-h-screen flex flex-col text-gray-800 bg-gradient-to-b from-[#C7D3E0] to-[#E5EBF2]">


    <!-- ãƒˆãƒ¼ã‚¹ãƒˆãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ -->
    <%= render "shared/flash" %> 

    <!-- å…±é€šãƒ˜ãƒƒãƒ€ãƒ¼ -->
    <%= render "shared/header" %>
    

    <!-- å„ãƒšãƒ¼ã‚¸ã®ãƒ¡ã‚¤ãƒ³ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ -->
    <main class="flex-grow container mx-auto px-4 py-6">
      <%= yield %>
    </main>

    <!-- å…±é€šãƒ•ãƒƒã‚¿ãƒ¼ï¼ˆå¾Œã§ä½œæˆï¼‰ -->
    <% unless controller_name.in?(["chat_rooms", "sessions", "registrations"]) %>
      <%= render "shared/footer" %>
    <% end %>

    <!-- ðŸ“Œ é€šçŸ¥ãƒãƒ¼ãƒªãƒ³ã‚°JSã‚’èª­ã¿è¾¼ã‚€ä½ç½®ï¼ˆé‡è¦ï¼‰ -->
    <script type="module">
      import "notification_poll"
    </script>
  </body>
</html>