<!DOCTYPE html>
<html>
  <head>
    <title>CollabTune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-current-user-id="<%= current_user&.id %>">
    <header style="padding:10px; background:#f2f2f2; display:flex; justify-content:space-between; align-items:center;">
      <h1><%= link_to "CollabTune", root_path %></h1>

      <nav>
        <% if user_signed_in? %>
          <span>こんにちは、<%= current_user.nickname %> さん</span>
          |
          <%= link_to "投稿一覧", posts_path %> |
          <%= link_to "投稿する", new_post_path %> |
          <%= link_to "コラボ一覧", collaborations_path %> |

          <% unread = Message.unread_for(current_user).count %>
          <span id="notification-badge">
            <%= unread.positive? ? "未読 #{unread}" : "" %>
          </span>
          |
          <%= link_to "チャット一覧", chat_rooms_path %> |

          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </nav>
    </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <main style="padding: 20px;">
      <%= yield %>
    </main>
  </body>
</html>